@media (max-width:1200px)
{
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    width: 74px;
    background-color: white;
    padding-top: 5px;
  }
  
  .sidebar-link{
      height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  }
  .sidebar-link:hover{
    background-color: rgb(235,235,235);
    cursor: pointer;
  }
  
  .sidebar-link img{
    height: 24px;
  
  }
  
  .sidebar-link div{
    font-size: 10px;
  }
 
}

@media (min-width:1200.1px){
.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 200px;
  background-color: white;
  padding-top: 5px;
  z-index: 9999;
}

.sidebar-link{
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.sidebar-link:hover{
  background-color: rgb(235,235,235);
  cursor: pointer;
}

.sidebar-link img{
  height: 24px;
  margin: 0 15px 0 10px;
}

.sidebar-link div{
  font-size: 10px;
}

.video-grid{
  margin-left: 126px;

}

}